body{
    background-color: #b567da;
    font-size: 17px;
}

h1{
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
    color: #400857;
    text-align: center;
    margin-bottom: -15px;
}

.container{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    background: none;
    cursor: pointer;
    border: 2px solid #400857;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px 6em;
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
    background-color: #400857;
    content: '';
    position: absolute;
    z-index: -1;
}

.btn-1::after {
    background-color: #b567da;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-1:hover:after {
    height: 100%;
    background-color: #400857;
}

.btn-2::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-2:hover:after {
    height: 100%;
}

.btn-3::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.btn-3:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-4::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-4::after {
    background-color: #b567da;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-4:hover:after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.btn-5 {
    overflow: hidden;

}

.btn-5::after {
    height: 100%;
    left: -35%;
    top: 0;
    width: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
}

.btn-5:hover:after {
    height: 100%;
    width: 135%;
}
